<div id="greeting">
<h1>Welcome to Beer Snobs! </h1>
<h2>What would you like to do?</h2>
</div>

<div id="links">
  <%= link_to "Add a New Beer", new_beer_path %><br>
  <a href="#" onclick="getBeersAlpha(); return false;">See All Beers(alphabetically)</a><br>
  <a href="#" onclick="getBreweries(); return false;">See All Breweries</a><br>
  <a href="#" onclick="getReviews(); return false;">See All Reviews</a><br>
</div>

<div id="our-new-beers"></div>

<div id="beer-form"></div>

<div id="review-form"></div>

<div id="reviews"></div>
